<div class = "corner">
<% if current_user.role == "owner" %>
<%= link_to "add subcategories",new_category_subcategory_path ,class: "btn btn-small btn-success"%><br><br>
<% end %>
<%#= @category.id %>
<%= link_to 'search subcategory', searchsub_path(category_id:@category.id),class: "btn btn-small btn-success"%><br><br>
<% if @category.subcategories.all.empty? %>
<h3> No Subcategories </h3>
<% else %>
<table>
	<tr>
		<th><u><font size="5">Subcategories</u></font></th>
	</tr>
    <% @subcategories.each do |subcategory| %>
    <tr>
          <td>   
	      <%=  link_to subcategory.name, category_subcategory_items_path(@category,subcategory) %>
          </td>
          <td>
           <% if current_user.role == "owner" %>
           <%= link_to "Delete ", category_subcategory_path(@category,subcategory), :data => { :confirm => "Are you sure?" }, :method => :delete,class: "btn btn-small btn-success" %>
          </td>
          <td>
           <%= link_to "Edit ", edit_category_subcategory_path(@category,subcategory),class: "btn btn-small btn-success" %>
           <% end %>
          </td>
    </tr>
    <%end%>
<table>   
<% end %>    
</div>
 