<div class = "corner">
<h3>  Add a new address </h3>
<%= form_for :address do |f| %>
  <p>
    <%= f.label :Full_name %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Mobile_number %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Pincode %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Landmark %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Town_City %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>




