<% if current_user.carts.empty? %>
<h3> No Items in Your Cart </h3>
<% else %>
<table>
	<tr>
		<th><font size="4">Name</th></font>
		<th><font size="4">Price(in Rupees)</th></font>
		<th><font size="4">Description</th></font>
	</tr>
<% @carts.each do |cart| %>
    <tr>
         <td><%= link_to cart.name, cart_path(:id => cart.id) %></td>
         <td><%= cart.price %></td>
         <td><%= cart.description %></td>
         <td><%= image_tag cart.image.url(:thumb)%></td>
         <td><%= link_to 'Delete', cart_path(:id => cart.id), :data => { :confirm => "Are you sure?" }, :method =>:delete    %></td>
         
    </tr>

<% end %>
<table>
<% end%>
<h3><%="Cart  subtotal:" + " (#{@carts.count}" + " item)" %></h3>
<h3><%= "Total Cost :" + " #{@carts.sum(:price)}" %></h3>