<div class = "corner">
<h2> Add an Item </h2>
<%= form_for(:item, url: item_save_path) do |f| %>
  <p>
    <%#= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name") %><br>
    <%= select_tag "subcategory_id", options_from_collection_for_select( Subcategory.all, "id", "name") %><br><br>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
 <%= f.hidden_field :userid, :value => current_user.id%>
 <%= f.hidden_field :count, :value => 0 %>
  <p>
    <%= f.label :'upload item image' %><br>
    <%=f.file_field :image %><br>
  </p>
  <p>
    <%= f.label :'End date' %><br>
    <%=f.datetime_local_field :enddate, include_seconds: true %>
  </p><br> 
  <p>
    <%= f.label :'Stock' %><br>
    <%=f.number_field :stock%>
  </p><br>
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>
</div>