<!-- < for countdwon timer > -->
<script>
function count(id,date){

var d = new Date();
var ed = new Date(date);
var dateText = document.getElementById(id);
var seconds = Math.floor((ed - (d))/1000) - 19800;

if(seconds<=0){
    d="No offer";
    dateText.innerHTML = d;
    return;
}
var minutes = Math.floor(seconds/60);
var hours = Math.floor(minutes/60);
var days = Math.floor(hours/24);

hours = hours-(days*24);
minutes = minutes-(days*24*60)-(hours*60);
seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60);
dateText.innerHTML = d;
var t;
function down() {
    seconds--;
    if (seconds < 0) {
        seconds = 60;
        minutes--;
        if (minutes < 0) 
        {
            minutes = 60;
            hours--;
            if (hours < 0)
            {
                hours = 24;
                days--;
                if (days < 1)
                {
                    days =30;
                    month--;
                    if(month < 1)
                    {
                        month = 12;
                        year--;
                    }
                }
            }    
        }
    }
    
d ="offer ends in " + days +"days" + "\r\n"+(hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
dateText.innerHTML = d;
timer();
}
function timer() {
t = setTimeout(down, 1000);
}
timer();
}
</script>

<div class = "corner">
<% if current_user.role == "vendor" %>
<%= link_to "Add item ",add_item_path(),class: "btn btn-small btn-success" %><br><br>
<% end %>
<%= link_to "Search item",searchitem_path(subcategory_id: @subcategory.id,category_id: params[:category_id] ),class: "btn btn-small btn-success" %><br><br><br><br>
<% if @subcategory.items.empty? %>
<h3> No Items found </h3>
<% else %>
<div class="container">
<table class="table table-striped">
<thead>
    <tr>
        <th><font size="4">Name</th></font>
        <th><font size="4">Price(in Rupees)</th></font>
        <th><font size="4">Description</th></font>
        <th></th>
        <th></th>
    </tr>
</thead>
    <% @items.each do |item| %>
<tbody>
    <tr>
        <td><%= link_to item.name,  category_subcategory_item_path(:id => item.id )%><p id=<%= item.id %> style =  "color:red" ></p></td>
        <td><%= item.price %></td>
        <td><%= item.description %></td>
        <td><%= image_tag item.image.url(:thumb)%></td>
        <% if current_user.role == "customer" %>
        <td><%= link_to 'Add to cart', carts_path( :controller => 'carts', :action => 'create', :id => item.id, subcategory_id: @subcategory.id,category_id: params[:category_id]), method: :post,class: "btn btn-small btn-success" %>
            <%#= number_field_tag 'quantity', 1, within: 1...10 %>
        <% end %>    
        <% if current_user.role == "vendor" %>
        <% if item.userid == current_user.id %>
        <td><%= link_to 'Edit' ,edit_category_subcategory_item_path(:id => item.id ),class: "btn btn-small btn-success"%></td>
        <td><%= link_to 'Delete' ,category_subcategory_item_path(:id => item.id ), :data => { :confirm => "Are you sure?" }, :method => :delete  ,class: "btn btn-small btn-success"  %></td>
        <% end %>
        <% end %>
        <script > count(<%= item.id %>,'<%= item.enddate %>');</script>
        <% if (item.stock - item.count) > 0 %>
        <% if current_user.role == "customer" %>
        <br><font color = "red"><%="#{item.stock - item.count}" + "remainig"%></font>
        <% else %>
        <font color = "red"><%= "Out of stock" %></font>
        <% end %>
        <% end %>
    </tr>
</tbody>
    <%end%>
<table>   
</div>    
<% end %>
</div>