<% if current_user.role == "vendor" %>
<%= link_to "Add item ",add_item_path(),class: "btn btn-small btn-success" %><br><br>
<% end %>
<%= link_to "Search item",searchitem_path(subcategory_id: @subcategory.id,category_id: params[:category_id] ),class: "btn btn-small btn-success" %><br><br><br><br>
<% if @subcategory.items.empty? %>
<h3> No Items found </h3>
<% else %>
<div class="container">
<table class="table table-striped">
<thead>
	<tr>
		<th><font size="4">Name</th></font>
		<th><font size="4">Price(in Rupees)</th></font>
		<th><font size="4">Description</th></font>
        <th></th>
        <th></th>
	</tr>
</thead>
    <% @items.each do |item| %>
    <tbody>
    <tr>
        <%#= link_to item.name, category_subcategory_item_path(@category,@subcategory,item) %> 
        <%#= link_to item.name, :action => :show, :id => item.id %>
        <td><%= link_to item.name,  category_subcategory_item_path(:id => item.id )%></td>
        <td><%= item.price %></td>
        <td><%= item.description %></td>
        <td><%= image_tag item.image.url(:thumb)%></td>
        <% if current_user.role == "customer" %>
        <td><%= link_to 'Add to cart', carts_path( :controller => 'carts', :action => 'create', :id => item.id, subcategory_id: @subcategory.id,category_id: params[:category_id]), method: :post,class: "btn btn-small btn-success" %>
        <% end %>    
        <% if current_user.role == "vendor" %>
        <% if item.userid == current_user.id %>
        <td><%= link_to 'Edit' ,edit_category_subcategory_item_path(:id => item.id ),class: "btn btn-small btn-success"%></td>
        <td><%= link_to 'Delete' ,category_subcategory_item_path(:id => item.id ), :data => { :confirm => "Are you sure?" }, :method => :delete  ,class: "btn btn-small btn-success"  %></td>
        <% end %>
        <% end %>
    </tr>
    </tbody>
    <%end%>
<table>   
</div>    
<% end %>
