<div class = "corner" >
<font size = '5' ><%= @item.name %></font><br><br>
<font color = 'red'><%= "#{@item.price}"+"$" %></font><br><br>
<%= @item.description %><br><br>
<%= image_tag @item.image.url(:medium) %><br><br>
<% if current_user.role == "customer" %>
<%= link_to 'Add to cart', carts_path( :controller => 'carts', :action => 'create', :id => params[:id], subcategory_id: params[:subcategory_id],category_id: params[:category_id]), method: :post ,class: "btn btn-small btn-success"%>
<% end %>
</div>