<div class = "corner" >
<% if user_signed_in? %>
<% if current_user.role =='owner' %>
<%= link_to 'Users list', {:controller => :userlist, :action => :index},class: "btn btn-small btn-success" %><br><br><br>
<%end%>
<%end%>
<% if current_user.role == "owner" %>
<%= link_to 'Add Category',new_category_path,class: "btn btn-small btn-success" %><br> <br>
<% end %>
<% if user_signed_in? %>
<% if current_user.role =='vendor' %>
<%= link_to 'Add products',add_item_path,class: "btn btn-small btn-success" %><br><br>
<%end%>
<%end%>
<%= link_to 'Search Category',search_path,class: "btn btn-small btn-success"%><br><br>
<table>
	<tr>
    <th><u><font size="5">Categories</th></font></u>
    </tr>
    <% @categories.each do |category| %>
    <tr>
        <td><%= link_to category.name,  category_subcategories_path(category)%></td>
        <% if current_user.role == "owner" %>
        <td><%= link_to 'Edit', edit_category_path(category),class: "btn btn-small btn-success" %></td>
        <td>
        <%= link_to "Delete ", category_path(category), :data => { :confirm => "Are you sure?" }, :method => :delete,class: "btn btn-small btn-success"%>
        </td>
        <% end %>
    </tr>
    <%end%>
<table>
</div>
