<!DOCTYPE html>
<html>
  <head>
    <title>Shoppingcart</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>
  <body>
    <div class="header">
    <% if user_signed_in? %>
    <%= link_to "Home",root_path,class: "btn btn-small btn-success header-item " %> 
    <li class='dropdown header-right'>
        <img class='dropbtn'><%= image_tag current_user.avatar.url(:thumb), class: 'avatar-frame' %></img>
        <div class='dropdown-content'>
           <%= image_tag current_user.avatar.url(:medium), class: ' avatar-frame ' %>
           <p><%= current_user.email %></p>
           <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
        </div>
    </li>
    <% if current_user.role == "customer" %>
      <%= link_to "My Cart", carts_path,class: "btn btn-small btn-success header-right" %>
    <% end %>
    <% end %>
    </div>
   <!-- header end -->
    <div class = "corner" >
    <% unless user_signed_in? %>  
      <%= link_to "Sign up",  new_user_registration_path ,class: "btn btn-small btn-success"%><br><br>
      <%= link_to "Sign in", new_user_session_path ,class: "btn btn-small btn-success"%>
    <% end %>
    <p class="notice"><font color = "green" ><%= notice %></p></font>
    <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
