<!DOCTYPE html>
<html>
  <head>
    <title>Shoppingcart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	 <% if user_signed_in? %>
  <li>
  <h4> Logged in As:</h4>
  <h4S><%=current_user.email %></h4> 
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  

  </li>
  <%end%>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
